.espace_membre_apropos{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img.background-apropos {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screen-apropos{
    background: #111A2F;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 370px;
    width: 100%;
    margin-bottom: 30px;
}

.titre-section{
    margin-top: 20px;
}

.content-container{
    width: 95%;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-image{
    width: 450px;
    height: 100%;
    margin: 15px;
}

.content-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-text{
    width: 450px;
    margin: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%,-50%);
    color: white;
}

.content-text p{
    line-height: 1.5;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

.content-text h2{
    font-size: 2.1rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 900;
    width: 100%;
}

/*page tracker*/
.tracker{
    position: fixed;
    top: 37vh;
    left: 10vw;
    z-index: 1;
}

.tracker li{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.tracker .bullet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
}

.tracker .bullet-separateur{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 40px;
}

.boule{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.boule-active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F46E54;
}

.trait{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1px;
    background-color: white;
}

.tracker a{
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    color: white;
}

.tracker .link-active{
    font-size: 2rem;
    font-weight: 800;
    color: #F46E54;
}

.content-text h3{
    text-transform: uppercase;
    color: #F46E54;
}

.programme-list{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.programme-list ul, .entrainement ul{
    padding-left: 15px;
    margin: 10px;
}


.bold{
    font-weight: bold;
}

.button-stage-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .tracker{
        display: none;
    }

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-text{
        width: 90%;
    }

    .content-text p{
        line-height: 1.2;
        width: 95%;
        text-align: justify;
        margin-bottom: 15px;
    }

    .content-text h2{
        font-size: 1.9rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 900;
        width: 100%;
    }

    .content-text .button{
        width: 95%;
    }
}

@media screen and (max-width: 400px){
    .content-text p{
        line-height: 1;
        width: 95%;
        text-align: justify;
        margin-bottom: 15px;
    }

    .content-text h2{
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 900;
        width: 100%;
    }

    .button-stage-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}




