#espace_membre_indiv{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.calendar{
    position: relative;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.form-indiv{
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-indiv h1{
    font-size: 2rem;
    margin-top: 10px;
}

.title-resa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-resa .red-line{
    width: 80%;
    height: 2px;
    margin-top: 5px;
}

.resa-info-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resa-info-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.resa-info-div h2{
    color: white;
    font-weight: lighter;
    font-size: 1.1rem;
}

.download-container{
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-container .button_hollow, .download-container .button{
    height: 35px;
}


.form-indiv input, .form-indiv select{
    height: 40px;
    margin: 15px;
    padding: 5px;
    min-width: 175px;
    max-width: 60%;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: black;
    opacity: 0.6;
    color: white;
}

.btnContainer{
    margin-bottom: 15px;
}

.btnContainer button{
    width: 225px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: 1.5px solid #F46E54;
    background: none;
    color: white;
}

.btnContainer button:hover{
    cursor: pointer;
    background: #F46E54;
}

.result-title{
    margin: 20px;
}
.result-title h2{
    font-size: 1.2rem;
    font-weight: lighter;
}

.resultats{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-indiv-container{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-indiv{
    position: relative;
    width: 190px;
    min-height: 400px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 18px rgb(0 0 0 / 10%);
    color: black;
}

.profile-indiv{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 15px;
    height: 25px;
    width: 45%;
    background-color: #F46E54;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: inherit;
}

.profile-indiv a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-indiv a i, .profile-indiv a p{
    font-size: 0.8rem;
    margin: 3px;
}

.profile-indiv a{
    color: black; 
    font-weight: bold;
    font: inherit;
}
.card-indiv-photo{
    position: relative;
    width: 100%;
    height: 155px;
    border-radius: 5px;
    z-index: 1;
}

.card-indiv-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    z-index: 2;
}

.card-indiv-name{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card-indiv-name h1{
    color: white;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card-indiv-name h3{
    color: white;
    font-weight: lighter;
}

.card-indiv-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-indiv-text{
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.card-indiv-text h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}

.card-indiv-text h3{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.ligne-noire{
    width: 50px;
    height: 2px;
    background-color: #F46E54;
    margin-bottom: 3px;
}

.card-indiv-dispo-container{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-indiv-dispo{
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7px;
    border-radius: 5px;
    border: #F46E54 1.5px solid;
}

.card-indiv-dispo.checked{
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7px;
    border-radius: 5px;
    border: #F46E54 1.5px solid;
    background-color: #F46E54;
}

.card-indiv-dispo-label{
    cursor: pointer;
}


.valider-heure{
    width: 100px;
    height: 40px;
    background-color: none;
    background-color: #F46E54;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.valider-heure:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.no-results{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .form-indiv{
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-indiv input, .form-indiv select, .download-container .button, .download-container .button_hollow{
        max-height: 30px;
        margin: 15px;
        padding: 5px;
        max-width: 70%;
        outline: none;
    }

    .download-container{
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-resa h1{
        font-size: 1.4rem;
    }

    .resa-info-container{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resa-info-div{
        margin: 10px;
    }

    .valider-heure{
        width: 70px;
        height: 30px;
        background-color: none;
        background-color: #F46E54;
        outline: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        bottom:10px;
        right: 10px;
    }
    
    .valider-heure:disabled{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }
}