.infrastructures-container{
    background: #111A2F;
    height: 100vh;
}

body{
    background: #111A2F;
}

.infrastructures-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infrastructures-container{
    width: 100%;
}

.container{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    margin: 30px;
    padding: 10px;
    background: #F46E54;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}

.card:hover{
    height: 350px;
}

.imgBx{
    width: 95%;
    margin: 5px;
    margin-top: -25px;
}

.imgBx img{
    width: 100%;
    border-radius: 10px;
}

.content{
    display: none;
    opacity:0;
    position:relative;    
    transition: opacity 2s;

}

.card:hover .content{
    display:initial;
    opacity:1;
}
