body{
    background: #111A2F;
}

.titre-inscription{
    margin-bottom: 100px;
}

.inscription-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inscription-info{
    width: 95%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container, .explication-container{
    width: 500px;
    margin: 20px;
}

.form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form button{
    width: 30%;
    height: 30px;
    background: #F46E54;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

.form-container form button:hover{
    cursor: pointer;
}

.form-container form input, select{
    width: 60%;
    border: none;
    background: none;
    border-bottom: 2px solid #F46E54;
    height: 40px;
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 5px;
    margin: 10px;
    color: white;
}

.form-container form select option{
    color: #111A2F;
}

.form-container form input::placeholder{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: white;
}

.form-container form select:focus{
    outline: none;
}

.form-container form input:focus{
    outline: none;
}


.explication-container{
    background: white;
    color: #111A2F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explication-texte{
    width: 80%;
    height: 80%;
}

.explication-container h2{
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bolder;
    text-transform: uppercase;

}

.explication-container p{
    font-size: 1.2rem;
}

@media screen and (max-width: 768px){
    .form-container, .explication-container{
        width: 800px;
    }

    
    .form-container form input::placeholder{
        font-size: 1rem;
        text-transform: capitalize;
        color: white;
    }

    .form-container form input, select{
        font-size: 1rem;
    }
}

