#espace_membre_inscription_2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/*barre de recherche*/
.recherche-container{
    position: relative;
    height: 50vh;
    width: 100%;
}

img.background-inscription {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screen-inscription{
    background: #111A2F;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.rechercher-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recherche-container h2{
    margin-top: 30px;
    font-size: 2.1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 900;
    width: 100%;
    color: white;
}

.input-container{
    width: 80%;
}

.input-container form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input-container form input, .input-container form select{
    min-width: 175px;
    height: 50px;
    text-align: center;
    margin: 15px;
}

.button{
    min-width: 175px;
    height: 50px;
    text-align: center;
    margin: 15px;
    margin-left: 0;
}

.input-container .button{
    cursor: pointer;
}

.label-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-container label{
    font-size: 1.2rem;
    color: #F46E54;
}

/*cartes formules*/
.container-formules{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: 100%;
}

.container-formules .card-formule{
    position: relative;
    width: 90%;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255, 250, 229, 0.5);
    border-left: 1px solid rgba(255, 250, 229, 0.5);
    color: gray;
}

.container-formules .image-card{
    width: 95%;
    height: 250px;
    margin-top: 7px;
}

.container-formules .image-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-formules .card-formule .titre-formule{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;

}

.titre-formule h2{
    font-size: 2em;
    color: black;
    z-index: 100;
}

.date-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date-container .date{
    font-size: 1rem;
}

.date-container .prix{
    font-size: 1.5rem;
}

.liste_contenu_plan li{
    list-style: none;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.liste_contenu_plan li img{
    height: 12%;
    width:12%;
}

.liste_contenu_plan li p{
    margin-left: 5%;
    font-size: 1em;
}

.detail{
    margin-left: -60%;
    margin-bottom: 20px;
    color: #F46E54;
    border:1px solid white ;
    background-color: transparent;
    
}

.detail:hover {
    border-bottom:1px solid #F46E54 ;
    cursor: pointer;
}

.info_detail{
    display:flex;
    flex-direction: column;
    width: 80%;
}

.info_detail h4{
    font-size: 1.5rem;
    color: #f46f54a1;
}

.contenue_afficher{
    display:flex ;
}
.contenue_cacher{
    display:none ;
}

.slider{
    margin:10px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.inscription_carousel{
    height:100%;
    width: 1000px;
    position: absolute;
}
.emplacement_img{
    width: 300px;
    height:100%;
    object-fit:scale-down;
    position: absolute;
}

.emplacement_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.one{
    left: 0;
    top:0;
}
.two{
    left: 300px;
    
}
.three{
    left:600px;
   
}
.four{
    left: 1200px;
   
}
.five{
    left: 1500px;
    
}
.six{
    left:1800px;
}

.next{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
}

.prev{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
}


 .button_carousel {
    position: absolute;
    top: 30%;
    right: -40%;
    fill: rgba(255, 255, 255, 0.644);
    cursor: pointer;
    transition: opacity 0.2s;
  }

  .button_carousel:hover {
    fill: rgb(255, 255, 255);
  }
/*
.container-formules .card-formule .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container-formules .card-formule:hover .content{
    transform: translateY(0px);
    opacity: 1;
}*/


.boite-bouton-valider{
    height:3em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.bouton_valider{
    align-items: center ;
    border: 1px solid white;
    height:100%;
    width: 50%;
    cursor: pointer;
    border-radius: 30px;
    background-color: salmon;
    color: white;
    outline: none;
    border-radius: 0;
}

.bouton_valider:hover{
    background-color:#111A2F;
    color:white;

}

.bouton_valider:focus{
    outline:none;
}

@media screen and (max-width: 520px){
    .recherche-container{
        position: relative;
        height: 80vh;
        width: 100%;
    }

    .recherche-container h2{
        margin-top: 30px;
    }
}
