*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	font-size: 14px;

}

.espace-membre-page{
    position: relative;
    min-height: 90vh;
    background-color: white;
}

.side-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #111A2F;
    width: 25vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}

.side-bar.closed{
    position: absolute;
    top: 0;
    left: -20vw;
    height: 100%;
    background-color: #111A2F;
    width: 25vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.side-bar-text{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar-text a{
    margin: 10px;
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;
}

.side-bar-btn-container{
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-btn-container button{
    background: none;
    border: none;
    background: #111A2F;
    color: white;
    outline: none;
    font-size: 1.5rem;
}

/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 55vh;
}

.header-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.header-container .screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
}

.pages-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 90vw;
}

.profile-pic-container{
    width: 50%;
    height: 90%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    position: relative;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.profile-pic img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-text{
    text-align: center;
}

.profile-text h1, .uppercase{
    margin-top: 40px;
    text-transform: capitalize;
    color: white;
    font-size: 2rem;
}

h1 .uppercase{
    text-transform: uppercase;
}

.right-arrow, .left-arrow{
    font-size: 1.5rem;
    cursor: pointer;
}
.left-arrow.closed{
    display: none;
}

.right-arrow.closed{
    display: none;
}

/*espace-membre-index*/
.espace-membre-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: white;
}

@media screen and (max-width: 768px){
    .profile-pic{
        width: 105px;
        height: 105px;
    }
    
    .profile-pic img{
        width: 100px;
        height: 100px;
    }

    .side-bar{
        width: 45vw;
    }
    
    .side-bar.closed{
        left: -40vw;
        width: 45vw;
    }

    .side-bar-text{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right-arrow, .left-arrow{
        font-size: 1rem;
        cursor: pointer;
    }

    .side-bar-text a{
        margin: 7px;
        text-transform: capitalize;
        color: white;
        font-size: 1rem;
    }
}





